<body>
    <div class="container">
    <div class="row">        
      <div class="col-sm-4 text-center"> 
        <img class="centrar" src="../../assets/Foto de perfil.jpeg" alt="banner">
        <H2>Jonathan Nahuel Nigro</H2>
        <div><h4> full stack developer jr </h4></div>   </div>
        <div class="col-sm-8 row justify-content-center align-items-center">  
        <h5> Hola! mi nombre es Jonathan, soy estudiante de septimo año de la escuela nuestra señora de fatima (modalidad tecnica) con titulo en maestro mayor de obras y me gusta la programación.</h5>  
    </div>
    </div>
  </div>
</body>