<body>
    <div class="educacion">
    <h2>Educación</h2>
    </div>
    <div class="container">
        <div class="row">  
        <div class="educaciones col-sm-2">
            <h4>Estudios 1</h4>
        </div>
        <div class="educaciones col-sm-8">
            <h6>info</h6> 
        </div>
        </div>
        </div>
        <div class="container">
        <div class="row">  
        <div class="educaciones col-sm-2">
            <h4>estudios 2</h4>
        </div>
        <div class="educaciones col-sm-8">
            <h6>info</h6> 
        </div>
        </div>
        </div>
</body>    