body{
    margin-top: 60px;
    background-color: rgb(23, 23, 23);
    color: white; 
}
.contactos{
    justify-content: center;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.contacto{
    justify-content: center;
    width: 100%;
    display: flex;

}