<body>
    <div class="Experiencia">
    <h2>Experiencia</h2>
    </div>
    <div class="container">
    <div class="row">  
    <div class="trabajos col-sm-2">
        <h4>Company name</h4>
    </div>
    <div class="trabajos col-sm-8">
        <h5>full stack developer jr</h5>
        <h6>involucrado en todo el ciclo de vida del desarrollo del producto, incluido el diseño, desarrollo, implementación y mantenimiento de características nuevas y existentes.  Escribiendo código limpio y funcional en el front-end y back-end.</h6> 
    </div>
    </div>
    </div>
    <div class="container">
    <div class="row">  
    <div class="trabajos col-sm-2">
        <h4>Company name</h4>
    </div>
    <div class="trabajos col-sm-8">
        <h5>programador Front End</h5>
        <h6>Encargado de programar el navegador de una web, utilizando herramientas como angular, css, typescript</h6> 
    </div>
    </div>
    </div>
</body>